<h3>Edit existing article</h3>
<% if @article.errors.any? %>
<h3> The following errors have occurred</h3>
	<ul>
		<% @article.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>	
	</ul>
<% end %>

<%= form_for @article do |w| %>
	<p> 
		<%= w.label :title %><br/>
		<%= w.text_field :title %>
	</p>

	<p> 
		<%= w.label :description %><br/>
		<%= w.text_area :description %>
	</p>

	<p> 
		<%= w.submit %>
	
	</p>
<% end %>

<%= link_to "Back to article listing", articles_path %>